body{
  background-color: black;
  font-weight: bold;
  height: 500px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.calc-body{
  background-color: gray;

}
.full{
  display: grid;
  grid-template-columns: 150px 150px 150px 100px;
margin-top: 400px;
margin-left: 400px;
}
.clear{
  background-color: ;
  margin: 5px;
  border-radius: 20px;
  height: 100px;
  width: 100px;
  font-size: 30px
}
.clear:hover{
  box-shadow: 5px 5px 5px rgba(65, 161, 216, 1)
}
.percent{
  background-color: ;
  margin: 5px;
  border-radius: 20px;
  height: 100px;
  width: 100px;
  font-size: 30px
}
.percent:hover{
  box-shadow: 5px 5px 5px rgba(65, 161, 216, 1)
}
.plus-minus{
  background-color: ;
  margin: 5px;
  border-radius: 20px;
  height: 100px;
  width: 100px;
  font-size: 30px
}
.plus-minus:hover{
  box-shadow: 5px 5px 5px rgba(65, 161, 216, 1)
}
.one{
  background-color: ;
  margin: 5px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  font-size: 30px
}
.one:hover{
    box-shadow: 7px 1px 5px rgb(255, 4, 4)
}
.two{
  background-color: ;
margin: 5px;
height: 100px;
  width: 100px;
border-radius: 50%;
font-size: 30px
}
.two:hover{
  box-shadow: 7px 1px 5px rgb(255, 4, 4)
}
.three{
  background-color: ;
margin: 5px;
height: 100px;
  width: 100px;
  border-radius: 50%;
  font-size: 30px
}
.three:hover{
  box-shadow: 7px 1px 5px rgb(255, 4, 4)
}
.four{
  background-color: white;
  margin: 5px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  font-size: 30px
}
.four:hover{
  box-shadow: 7px 1px 5px rgb(255, 4, 4)
}
.five{
  background-color: white;
  margin: 5px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  font-size: 30px
}
.five:hover{
  box-shadow: 7px 1px 5px rgb(255, 4, 4)
}
.six{
  background-color:white ;
  margin: 5px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  font-size: 30px
}
.six:hover{
  box-shadow: 7px 1px 5px rgb(255, 4, 4)
}
.seven{
  background-color: ;
  margin: 5px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  font-size: 30px
}
.seven:hover{
  box-shadow: 7px 1px 5px rgb(255, 4, 4)
}
.eight{
  background-color: ;
  margin: 5px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  font-size: 30px
}
.eight:hover{
  box-shadow: 7px 1px 5px rgb(255, 4, 4)
}
.nine{
  background-color: ;
  margin: 5px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  font-size: 30px
}
.nine:hover{
  box-shadow: 7px 1px 5px rgb(255, 4, 4)
}
.zero{
  background-color: ;
  margin: 5px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  font-size: 30px;
}
.zero:hover{
  box-shadow: 7px 1px 5px rgb(255, 4, 4)
}
.point{
  font-size: 50px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 5px;
}
.point:hover{
 box-shadow: 7px 1px 5px rgb(255, 4, 4) 
}

.one:hover{
  box-shadow: 7px 1px 5px rgb(255, 4, 4)
}
.equal{
  background-color: rgb(16, 69, 247);
  margin: 2px;
  font-size: 30px;
  border-radius: 20px;
 
}
.equal:hover{
  box-shadow: 5px 5px 5px rgb(9, 231, 39)
}
.delete-button{
  background-color: rgb(255, 115, 0);
  margin: 5px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
  
.delete{
  background-color: rgb(255, 115, 0);
  height: 40px;}

.add{
  border-radius: 20px;
  font-size: 30px;
  margin: 2px;
}
.add:hover{
  box-shadow: 5px 5px 5px rgba(65, 161, 216, 1)
}
.minus{
  border-radius: 20px;
  font-size: 30px;
  margin: 2px;
}
.minus:hover{
  box-shadow: 5px 5px 5px rgba(65, 161, 216, 1)
}
.multiply{
  border-radius: 20px;
  font-size: 30px;
  margin: 2px;
}
.multiply:hover{
  box-shadow: 5px 5px 5px rgba(65, 161, 216, 1)
}
.divide{
  border-radius: 20px;
  font-size: 30px;
}
.divide:hover{
  box-shadow: 5px 5px 4px rgba(65, 161, 216, 1)
}
